<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config></context:annotation-config>
	
	<context:component-scan base-package="a1"></context:component-scan>
		
	
<!-- 	<bean id = "s1" class="a1.Pizza"></bean>
	<bean id = "s2" class="a1.Beer"></bean>
	<bean id = "p1" class ="a1.People">
	 <property name="snack" ref="s2"></property>	
	</bean> -->
</beans>
